/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT */
  --FF: 'Nunito', sans-serif;
  --FS: 1.5rem;
  --FS-XL: 3rem;

  /* COLOR */
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: #1e293b;
  --RADIAL-COLOR: whitesmoke;
  --LIGHT-COLOR: whitesmoke;
  --DARK-COLOR: #000;

  /* SQUARE */
  --SQUARE-BGCOLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);

  /* GENERAL */
  --PADDING: 0.5rem;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);
}

@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL-COLOR: rgb(217, 217, 217);
    --SQUARE-BGCOLOR: rgb(202, 174, 202);
  }
}

body {
  font: var(--FS) var(--FF);
}

.container {
  font-size: 1.5rem;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
}

header {
  top: 0;
}

nav {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
}

main {
  flex-grow: 2;
}

footer {
  bottom: 0;
}

/* || SMALL */
@media screen and (min-width: 576px) {
  .container {
    background-color: green;
    background-image: radial-gradient(whitesmoke, green);
  }
  nav {
    display: none;
  }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
  .container {
    background-color: gold;
    background-image: radial-gradient(whitesmoke, gold);
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  .container {
    background-color: firebrick;
    background-image: radial-gradient(whitesmoke, firebrick);
  }
}

/* || XL  */
@media screen and (min-width: 1200px) {
  .container {
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple);
  }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .container {
    background-color: dodgerblue;
    background-image: radial-gradient(whitesmoke, dodgerblue);
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }
}
