/* You can add global styles to this file, and also import other style files */
* {
  font-family: monospace; /* for all elements the font would be monospace */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 138%;
}
