<div class="container">
  <header>
    <h1>Header</h1>
    <nav>
      <h2>Nav</h2>
    </nav>
  </header>

  <main>
    <div class="square">
      <p>Hey</p>
    </div>
    <div class="square">💻</div>
    <div class="square">💻</div>
    <div class="square">💻</div>
    <div class="square">💻</div>
    <div class="square">💻</div>
    <div class="square">💻</div>
    <div class="square square--highlight">💻</div>
    <div class="square">💻</div>
    <div class="square">💻</div>
    <div class="square">💻</div>
    <div class="square">💻</div>
  </main>

  <footer>
    <h2>Footer</h2>
  </footer>
</div>
