<nav>
  <h2>CSS Menu</h2>
  <ul>
    <li><a [routerLink]="['/nav-page01']">Appetizers</a></li>
    <li><a [routerLink]="['/nav-page02']">Entrees</a></li>
    <li><a [routerLink]="['/nav-page01']">Desserts</a></li>
    <li><a [routerLink]="['/nav-page02']">Beverages</a></li>
    <li><a [routerLink]="['/nav-page01']">About</a></li>
  </ul>
</nav>
<p>
  Learn more about
  <a
    href="https://edition.cnn.com/travel/article/world-best-food-dishes/index.html"
    target="_blank"
    >Amazing foods</a
  >
</p>
