<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input
      type="text"
      formControlName="firstname"
      placeholder="Enter first name"
    />
    @if (form.controls.firstname.invalid && (form.controls.firstname.touched ||
    form.controls.firstname.dirty)) { @if
    (form.controls.firstname.errors?.['required']) {
    <small style="color: red">First name is required</small>
    } @if (form.controls.firstname.errors?.['minlength']) {
    <small style="color: red"
      >First name should be minimum 5 characters long</small
    >
    } } @if (form.invalid && (form.touched || form.dirty)) {
    @if(form.errors?.['forbiddenName']) {
    <small style="color: red">You have entered a forbidden first name</small>
    } }
  </div>
  <div>
    <input type="text" formControlName="role" placeholder="Enter role" />
    @if (form.controls.role.invalid && (form.controls.role.touched ||
    form.controls.role.dirty)) { @if
    (form.controls.role.errors?.['forbiddenRole']) {
    <small style="color: red">This is not an allowed role</small>
    } }
  </div>
  <div>
    <button [disabled]="form.invalid" type="submit" (mousedown)="onSubmit()">
      Submit
    </button>
  </div>
</form>
