/* Overriding the in-built ng-prime styles */
.p-datatable-thead {
    tr {
        th {
            background-color: #e6ecf2 !important;
            border-color: #d1d1d1 !important;
        }
    }
}

.p-datatable-tbody > tr > td {
    border-color: #d1d1d1 !important;
}

.p-menuitem-active .p-menubar-item-label,
.p-menubar-item-link-active .p-menubar-item-label,
.p-menubar-item.p-menuitem-active .p-menubar-item-label {
    color: black !important;
}
