<section class="columns">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus officiis
    exercitationem soluta ducimus sed facere impedit distinctio ipsum?
    Consectetur, quibusdam?
  </p>
  <p>
    Quis consequuntur distinctio beatae dolor? Sint voluptatum nulla repellendus
    quas voluptates accusantium, blanditiis saepe molestias exercitationem optio
    distinctio magnam inventore?
  </p>
  <!-- <h2>Next Topic</h2> -->
  <p class="quote">
    &#8220;Where's my rug, man?&#8221;<span class="nowrap"
      >&#8212; The dude</span
    >
  </p>
  <p>
    Repudiandae blanditiis excepturi placeat, numquam accusantium debitis dolore
    sint enim dignissimos iste odit laboriosam, voluptate possimus soluta magnam
    quod? Deserunt.
  </p>
  <p>
    Sed, reprehenderit. Animi atque sunt reprehenderit illo est accusantium ex
    expedita. Qui provident expedita veritatis aliquid exercitationem. Facilis,
    et quas!
  </p>
</section>
<p>
  Dolor neque qui incidunt quam delectus, placeat magni facere ullam nulla
  assumenda obcaecati asperiores fuga perspiciatis praesentium atque reiciendis
  necessitatibus!
</p>
