/* You can add global styles to this file, and also import other style files */
app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

canvas {
  display: block;
  border: 2px solid;
}
